<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <Product Id="*"
           Name="VantageAPI.Setup"
           Language="1033"
           Version="1.0.0.0"
           Manufacturer="VantageAPI.Setup"
           UpgradeCode="{E5C9F391-5787-4fd1-81E6-D1A4A91D226D}">
    <Package InstallerVersion="200" Compressed="yes" />
    <Media Id="1" Cabinet="VantageAPI.cab" EmbedCab="yes" />

    <!-- 
            * Variables 
         -->
    <!-- Configurable install location -->
    <PropertyRef Id="NETFRAMEWORK30_SP_LEVEL" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />

    <!-- Creating directories -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- Install stuff into program files folder. -->
      <Directory Id="ProgramFilesFolder">
        <!-- In program files create folder with name VantageAPI. -->
        <Directory Id="INSTALLLOCATION" Name="VantageAPI">
          <!-- This is the folder where the website content will be located -->
          <Directory Id="MYWEBWEBSITE" Name="Website">
            <!-- Continue in DirectoryRef with specific name -->
          </Directory>
          <!-- Here you can add another directories -->
        </Directory>
      </Directory>
    </Directory>

    <!-- Complete feature which will be installed. -->
    <Feature Id="Complete"
         Title="VantageAPI - My awesome web"
         Level="1"
         Display="expand"
         ConfigurableDirectory="INSTALLLOCATION">

      <ComponentGroupRef Id="HeatGenerated" />
      <!-- Main content of the Complete feature. -->
      <Feature Id="MainContent"
               Title="VantageAPI Website"
               Description="The website content"
               Level="1">

        <!-- Include IIS Configuration. -->
        <ComponentGroupRef Id="VantageAPIIssConfiguration" />

        <!-- Include web content. -->
        <!--<ComponentGroupRef Id="VantageAPIWebComponents" />-->

        <!-- Perform changes in the web.config file. -->
        <!--<ComponentRef Id="WebConfigCmp" />-->

      </Feature>
    </Feature>

    <!--<DirectoryRef Id="MYWEBWEBSITE">
      --><!-- Component handling the web.config --><!--
      <Component Id="WebConfigCmp" Guid="">
        --><!-- Copy web.config to MYWEBWEBSITE folder. --><!--
        <File Id="WebConfigFile" KeyPath="yes"
          Source="$(var.publishDir)\Web.config" Vital="yes" />
        <util:XmlFile Id="ModifyConnectionString"
                 Action="setValue"
                 Permanent="yes"
                 ElementPath="/configuration/connectionStrings/
                                      add[\[]@name='MyConnectionString'[\]]"
                 Name="connectionString"
                 File="[#WebConfigFile]"
                 Value="[CONNECTION_STRING]"
                 SelectionLanguage="XSLPattern"
                 Sequence="1" />
      </Component>
    </DirectoryRef>-->

    <!-- .NET Framework 3.0 SP 1 must be installed -->
    <Property Id="FRAMEWORKBASEPATH">
      <RegistrySearch Id="FindFrameworkDir" Root="HKLM"

        Key="SOFTWARE\Microsoft\.NETFramework"

        Name="InstallRoot" Type="raw"/>
    </Property>

    <Property Id="ASPNETREGIIS" >
      <DirectorySearch Path="[FRAMEWORKBASEPATH]"

                  Depth="4" Id="FindAspNetRegIis">
        <FileSearch Name="aspnet_regiis.exe" MinVersion="2.0.5"/>
      </DirectorySearch>
    </Property>

    <!-- Switch ASP.NET to version 2.0 -->
    <CustomAction Id="MakeWepApp20" Directory="MYWEBWEBSITE"
      ExeCommand="[ASPNETREGIIS] -norestart -s W3SVC/1/ROOT/[WEB_APP_NAME]"
      Return="check"/>

    <InstallExecuteSequence>
      <Custom Action="MakeWepApp20" After="InstallFinalize">
        ASPNETREGIIS AND NOT Installed
      </Custom>
    </InstallExecuteSequence>

    <!-- License and images -->
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    <WixVariable Id="WixUIDialogBmp" Value="vdm.bmp" />

    <!-- Specify UI -->
    <UIRef Id="VantageAPIUI" />

  </Product>
</Wix>
